<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework"/>
	</configSections>
	<connectionStrings>
		<add name="TaskManagerConnection"
			 connectionString="Data Source=|DataDirectory|\Tasks.db"
			 providerName="System.Data.SQLite"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
		</providers>
	</entityFramework>
</configuration>